<div class="container">

    <div class="starter-template">
        <h1>Patient Pager</h1>
        <p class="lead">Catering to the needs of the patients</p>
        <button type="button" class="btn btn-primary btn-lg">Try it now!</button>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Give Patients Freedom</h2>
            <p>Patients no longer have to wait endlessly in the waiting room!</p>
        </div>
        <div class="col-md-4">
            <h2>Let the Family Know</h2>
            <p>The familes of patients will know exactly when and where to pick up their loved ones!</p>
        </div>
        <div class="col-md-4">
            <h2>Don't Rush the Doctor</h2>
            <p>Improve patient flow by allowing doctors to notify their next patients as soon as they are ready!</p>
        </div>

    </div>


</div><!-- /.container -->