<form ng-submit='savePatient()' class="form-inline patient-form">
  <div class="form-group">
    <label class="sr-only" for="patientName">Patient name</label>
    <input ng-model='newPatient.name'   type="text" class="form-control" id="patientName" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone number</label>
    <input ng-model='newPatient.phone' type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>
  <div class="form-group">
    <label class="sr-only" for="roomNumber">Room number</label>
    <input ng-model='newPatient.room' type="text" class="form-control" id="roomNumber" placeholder="Room">
  </div>
 
  <button type="submit" class="btn btn-primary">Add patient</button>
</form>

<table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>Finished</th>
        <th>Info</th>
        <th>Notified?</th>
        <th>Actions</th>
      </tr>
  </thead>
    <tr ng-repeat="patient in patients | orderByPriority">
      <td><input type="checkbox" ng-model="patient.done" ng-change="patients.$save(patient.$id)"></td>
      <td>
        <div><strong>{{patient.name}}</strong></div>
        <div>Phone: {{ patient.phone }} </div>
        <div>Room: {{ patient.room }}</div>
      </td>
      <td>
        <div> {{ patient.notified }} </div>
      </td>
      <td>
        <button ng-click="sendTextMessage(patient)" type="submit" class="btn btn-success">Send SMS</button>
        <button ng-click="patients.$remove(patient.$id)" type="submit" class="btn btn-danger">Remove</button>
      </td>
    </tr>
</table>