<form ng-submit='savePatient()' class="form-inline patient-form">
  <div class="form-group">
    <label class="sr-only" for="patientName">Patient name</label>
    <input ng-model='patient.name'   type="text" class="form-control" id="patientName" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone number</label>
    <input ng-model='patient.phone' type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>
  <div class="form-group">
    <label class="sr-only" for="roomNumber">Room number</label>
    <input ng-model='patient.room' type="text" class="form-control" id="roomNumber" placeholder="Room">
  </div>
 
  <button type="submit" class="btn btn-primary">Add patient</button>
</form>

<table class="table table-striped table-bordered">
  <thead>
      <tr>
        <th>Finished</th>
        <th>Info</th>
        <th>Notified?</th>
        <th>Actions</th>
      </tr>
  </thead>
    <tr ng-repeat="patient in patients">
      <td><input type="checkbox"></td>
      <td>
        <div><strong>{{patient.name}}</strong></div>
        <div>Phone: {{ patient.phone }} </div>
        <div>Room: {{ patient.room }}</div>
      </td>
      <td>add this later - notified?</td>
      <td>
        <button type="submit" class="btn btn-success">Send SMS</button>
        <button type="submit" class="btn btn-danger">Remove</button>
      </td>
    </tr>
</table>