<form ng-submit='savePatient()' class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="patientName">Patient name</label>
    <input ng-model='patient.name'   type="text" class="form-control" id="patientName" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone number</label>
    <input ng-model='patient.phone' type="text" class="form-control" id="phoneNumber" placeholder="Phone">
  </div>
  <div class="form-group">
    <label class="sr-only" for="roomNumber">Room number</label>
    <input ng-model='patient.room' type="text" class="form-control" id="roomNumber" placeholder="Room">
  </div>
 
  <button type="submit" class="btn btn-primary">Add patient</button>
</form>

{{patient}}
<br>
{{patients}}